<div class='outline__module'>

  <div class='outline__row outline__module__title'>
    {{#link-to "learning_path.learning_module.show" learningModule.id}}
      {{learningModule.title}}
    {{/link-to}}
    <i class="fa fa-chevron-right" {{action 'toggleExpand'}} {{bind-attr class=expandedClass}}></i>
  </div>

  {{#if expanded}}

    {{#each asset in learningModule.assets}}
      <div class='outline__row'>
        {{#link-to 'learning_path.learning_module.show'
                   learningModule.id
                   (query-params assetId=asset.id)
                   class="outline__asset"}}
          {{asset.title}}
        {{/link-to}}
      </div>
    {{/each}}

    <div class='outline__row'>
      <a {{action 'addContentToModule' learningModule}} class='outline__asset outline__asset--add'>
        + Add More Content
      </a>
    </div>

  {{/if}}

</div>
