<h1 id="Subtitle">Hello</h1>

{{toggle-edit-text-field value=title action='saveAll'}}

<br/>
{{toggle-edit-textarea value=introduction action='saveAll'}}

<br/>
{{toggle-edit-textarea value=prerequisites action='saveAll'}}

<br/>
{{toggle-edit-textarea value=completion action='saveAll'}}

<br/>
{{toggle-edit-textarea value=resources action='saveAll'}}
