<div class='summary'>

	<h1 class='l-mbl'>
		{{toggle-edit-text-field value=title action='saveAll'}}
	</h1>

	<div class='l-mbl'>
		<h2>Introduction</h2>
		{{toggle-edit-textarea value=introduction action='saveAll'}}
	</div>

	<div class='l-mbl'>
		<h2>Pre-Requisites</h2>
		{{toggle-edit-textarea value=prerequisites action='saveAll'}}
	</div>

	<div class='l-mbl'>
		<h2>Upon Completion Concepts</h2>
		{{toggle-edit-textarea value=completion action='saveAll'}}
	</div>

	<div class='l-mbl'>
		<h2>Additional Resources</h2>
		{{toggle-edit-textarea value=resources action='saveAll'}}
	</div>

</div>