<div class='asset condensed' {{bind-attr id=assetIdString}}>
  <img class='asset-type-image' {{bind-attr src=value.assetTypeImageSrc}}/>
  <h2 class='asset-title'>
    {{title}}
  </h2>
  <div class='controls'>
    {{partial 'asset_details'}}
    <div {{action 'deleteAsset' model}} class='asset-delete asset-control'>
      <img class='detele-asset-image asset-control-icon' src='/dummy.svg'/>
      <div class='text'>
        Delete
      </div>
    </div>
  </div>
</div>

